.typing-animation {
    animation: typing 1s ease-in-out forwards;
  }
  
  @keyframes typing {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }


  .typing-circle {
    width: 22px;
    height: 22px;
    background-color: #eb5555;
    border-radius: 50%;
    display: inline-block;
    animation: blink 1s infinite alternate;
    margin-left: 5px;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
 